.footer{
    background-color: #172337;
    color: #f5f5f5;
}

.footer_content{
    display: flex;
    padding: 40px;
}
.footer_content p{
    font-size: 12px;
    margin-top: 5px;
    
}
.footer_content a{
    color: #f5f5f5;


}
.footer_content a:hover{
    border-bottom: 1px solid #f5f5f5;
}
.footer_content h4{
    font-size: 15px;
    color: #666;
    margin-bottom: 10px;
}
.footer_left{
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    width: 653px;
    padding: 20px 30px;
    border-right: 1px solid #666;
}
.footer_right{
    width: 595px;

    display: flex;
    justify-content: space-around;
    margin-left: 60px;
}
.footer_foot{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-top: 1px solid #666;
}
.footer_foot div{
    display: flex;
}
.footer_icon{
    color: #ffcb5c;
    margin-right: 5px;
}
.footer_img{
    width: 377px;
    height: 18px;
}
.footer_mail{
    margin-top: 17px;
    margin-right:10px;
    width: 294px;
}
.footer_address{
    margin-top: 17px;
    width: 294px;

}
